{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Next Generation Entreprenuers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <!-- Header hero  -->
    <div class="container-fluid bg-dark text-white p-3 text-center d-sm-flex justify-content-around">
        <h4 class="fw-lighter small">
            +254 717950959
        </h4>

        <h4 class="fw-lighter small">
            Call Us Now! We have what it takes to INTRODUCE your brand to the market!
        </h4>
    </div>


    <!-- Nav  -->
    <nav class="navbar navbar-expand-lg bg-tertiary-secondary p-3">
        <div class="container-fluid">
            <div class="d-md-flex w-100 justify-content-between">
                <div class="navbar-brand" href="#">
                    <img src="{% static 'images/logo.png' %}" alt="" style="width: 70px;">
                </div>

                <div class="x">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-5">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#entreprenuers">Entrepreneurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#everyone">Everyone</a>
                            </li>
                            <li class="nav-item btn btn-primary btn-sm rounded">
                                <a class="nav-link text-white" href="#">Join Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Header  -->
    <header class="vh-100 d-flex">
        <div class="container align-self-center w-75 bg-light p-3 rounded" style="--bs-bg-opacity: .5;">
            <h1 class="fade-in"> Welcome, <br>Next Generation Enterprenuers! </h1>
            <h4 class="fade-in">
                NGE provides the next generation entrepreneurs a platform to showcase their innovative solutions, and
                have a glance into the ever evolving market.
            </h4>
        </div>
        </div>
    </header>
    <!-- Section About us  -->
    <section id="entreprenuers">
        <div class="container py-5">
            <div class="row">
                <div class="col fade-in">
                    <p class="small fw-lighter fade-in">Find out what's in store for you.</p>
                    <h2>Are you an Entrepreneur ? </h2>

                    <p class="fw-light">
                        You're in the right place! There are more than enough reasons to join Next Generation
                        Entrepreneurs(like you) in this journey to define the shape of our world today. There's
                        something
                        for everyone, and you can't afford to miss out.
                    </p>
                </div>
                <div class="col-md-6">
                    <!-- containers  -->
                    <div class="card fade-in p-3 mb-3 bg-dark text-white">
                        <img src="{% static 'images/drk.png' %}" style="height: 200px;">
                        <div class="card-body">
                            <h4 class="fw-bold">Meet a group of like-minded individuals!</h4>
                            <p class="card-text">We look upto a community of entrepreneurs, investors, researchers,
                                buyers, and founders, connected by the mutual goal of shaping our world better.
                                We're certain that if you make the bold move of joining us, then everyone else can, and
                                before you notice, we'll be a large vibrant forum of creatives.
                                When we come together, great things happen.
                            </p>
                        </div>
                    </div>

                    <div class="card fade-in p-3 mb-3">
                        <img src="{% static 'images/2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="fw-bold">Show your solution to the world!</h4>
                            <p class="card-text">We provide you the ultimate first opportunity to test your prototype, a
                                reliable communication pipeline to receive valuable feedback, and a convenient platform
                                to share your solution.
                                Congratulations! Your product, brand or startup is now visible to a huge audience of
                                people itching for the solution you provide.
                            </p>
                        </div>
                    </div>

                    <div class="card fade-in p-2 mb-3 bg-dark text-white">
                        <img src="{% static 'images/dm.png' %}" class="card-img-top" alt="..." style="height: 200px;">
                        <div class="card-body">
                            <h4 class="fw-bold">Tell your story the best way you know it!</h4>
                            <p class="card-text">
                                No matter how hard we try, we can never make it make sense like you would! We let you
                                tell the story the best way you can!
                                At the end of the day, we'll take a closer look, and guess what ? It's the best story we
                                heard today!
                            </p>
                        </div>
                    </div>

                    <div class="card fade-in p-3 mb-3">
                        <img src="{% static 'images/se.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="fw-bold">Meet your buyers!</h4>
                            <p class="card-text">
                                Thanks for letting us know about your product! It's now visible to the world, and sooner
                                than we all expect, you'll get that email you always expected.
                                Listing on NGE is the most strategic boss move you made this year, the results would
                                speak loudest!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- non-entreprenuers  -->
        <div class="container-fluid bg-primary py-5" id="everyone">
            <div class="container">
                <p class="fw-lighter text-white fade-in">There's something for everyone!</p>
                <h2 class="fade-in">Or are you looking for a Solution ?</h2>
                <p class="text-white fw-lighter">
                    From the latest cutting-edge tech solutions, to the most detailed niche products, NGE showcases
                    everything you might need. If you're an investor, potential buyer, or a just a curious footloose
                    next-door, we got you covered! NGE provides a platform for great people to showcase their
                    prototypes, ideas, businesses, and/or unique products. It's the ultimate first glance for young
                    entrepreneurs looking to get their feet on the dynamic, and competitive market. Here's how you're
                    going to benefit from the platform:
                </p>
            </div>
            <div class="container mt-4 d-md-flex gap-3 justify-content-between">
                <div class="card p-2 mb-3 ">
                    <div class="card-body">
                        <h4>Stay informed!</h4>
                        <p class="card-text">
                            You get a collection of the latest products, brands in the market! Get your copy of the
                            newspaper before sunrise, give your curiosity a room to glow, and stay steps ahead.
                        </p>
                    </div>
                </div>

                <div class="card p-2 mb-3">
                    <div class="card-body">
                        <h4>Get ideas for your next big venture!</h4>
                        <p class="card-text">
                            See what others in your field are building. You have a long list to choose from!
                            Pick the idea you think aligns with your goals, and be the reason it comes to life.
                        </p>
                    </div>
                </div>

                <div class="card p-2 mb-3 ">
                    <div class="card-body">
                        <h4>Sit, Take Notes and Learn!</h4>
                        <p class="card-text">
                            Hear from the most brilliant of founders, as they share failures, challenges, lessons, and
                            breakthroughs through their entreprenuership journeys.
                            Pick up crucial lessons that would influence your trajectory as we look forward to onboard
                            you.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Waitlist  -->
    <div class="border rounded m-5 fade-in" id="waitlist">
        <div class="p-2 row">
            <div class="col-md-6">
                <img src="{% static 'images/ep.jpg' %}" alt="" style="width: 100%; height: 100%;">
            </div>
            
            <div class="col">
            <h2 class="py-2">Join Our Waitlist</h2>
            <p class="fw-lighter small">We're launching soon!</p>
            <form action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block form-control" onclick="notifyUser()">
                    Get Notified When We Launch
                </button>
            </form>
            </div>
        </div>
    </div>


    <!-- Hero section  -->
    <div class="container-fluid bg-dark text-white p-5 h-50">
        <h2 class="fade-in">In a Nutshell!</h2>
        <p class="fade-in">
            Everyday presents the world with an era of entrepreneurs, men and women, who find the right solutions to
            continously shape our world. We know what it takes, we believe innovative solutions exists, and we want to
            be part of the story!
            Therefore, we're building a platform to bring out these wonderful stories to where it should be, the market!
            You can think of our
            platform as a large repository of data simplified to package brands, startups, solutions and products in a
            way the target customer loves.
        </p>
        <a class="btn btn-lg btn-primary text-white" href="#entreprenuers">Learn More</a>
    </div>




    <!-- footer -->
    <footer>
        <div class="container p-md-5 p-3 vh-50">
            <div class="row">
                <div class="col-md-6 pt-3">
                    <h3 class="fade-in"> NGE </h3>
                    <h3 class="fw-lighter fade-in"> The platform where Next Generation Entrepreneurs get a chance to
                        showcase
                        their creativity. </h3>
                </div>
                <div class="col-4">
                    <h3>Links</h3>
                    <li><a href="#">Home</a></li><br>
                    <li><a href="#entreprenuers">Why Us</a></li><br>
                    <li><a href="#waitlist">Join Us</a></li><br>
                    <li><a href="#">FAQS</a></li>

                </div>
                <div class="col">
                    <h3>CTA's</h3>
                    <a class="btn btn-primary btn-lg btn-block mb-3 text-white" href="#waitlist">Join Us</a><br>
                    <button class="btn btn-primary btn-lg btn-block" onclick="inProgress()">Donate</button>
                </div>
            </div>
        </div>
        <div class="text-center fw-lighter p-2 fade-in"> Thanks for being part of us!</div>
    </footer>

    <script src="{% static 'js/index.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
</body>

</html>